In [54]:
import pandas as pd
import os
import pathlib
import pandas as pd
pd.options.mode.chained_assignment = None 
# https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas

In [46]:
covid = pd.read_csv("data/age_adjusted_death_rate_no_quotes.csv")
MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
# covid["County"] = (
#     covid.County.map(str)
# )
covid

,Unnamed: 0,County,County Code,Year,Year Code,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval
0,Autauga County,AL,1001,1999,1999,NaN,42963,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga County,AL,1001,2000,2000,NaN,43671,NaN,NaN,NaN,NaN,NaN,NaN
2,Autauga County,AL,1001,2001,2001,NaN,44889,NaN,NaN,NaN,NaN,NaN,NaN
3,Autauga County,AL,1001,2002,2002,NaN,45909,NaN,NaN,NaN,NaN,NaN,NaN
4,Autauga County,AL,1001,2003,2003,NaN,46800,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56641,Weston County,WY,56045,2012,2012,NaN,7065,NaN,NaN,NaN,NaN,NaN,NaN
56642,Weston County,WY,56045,2013,2013,NaN,7163,NaN,NaN,NaN,NaN,NaN,NaN
56643,Weston County,WY,56045,2014,2014,NaN,7179,NaN,NaN,NaN,NaN,NaN,NaN
56644,Weston County,WY,56045,2015,2015,NaN,7230,NaN,NaN,NaN,NaN,NaN,NaN
56645,Weston County,WY,56045,2016,2016,NaN,7236,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
covid_mod = pd.read_csv("data/covid_infection_monthly.csv")
covid_mod = covid_mod[covid['Year Code'] > 2004]
# covid_mod.drop(covid_mod.columns[[3,5]], axis=1, inplace=True)
# covid_mod.rename(columns={'Year Code':'Month','Crude Rate':'Infection'}, inplace=True)
covid_mod['Month'].replace(2005, 'January', inplace=True)
covid_mod['Month'].replace(2006, 'February', inplace=True)
covid_mod['Month'].replace(2007, 'March', inplace=True)
covid_mod['Month'].replace(2008, 'April', inplace=True)
covid_mod['Month'].replace(2009, 'May', inplace=True)
covid_mod['Month'].replace(2010, 'June', inplace=True)
covid_mod['Month'].replace(2011, 'July', inplace=True)
covid_mod['Month'].replace(2012, 'August', inplace=True)
covid_mod['Month'].replace(2013, 'September', inplace=True)
covid_mod['Month'].replace(2014, 'October', inplace=True)
covid_mod['Month'].replace(2015, 'November', inplace=True)
covid_mod['Month'].replace(2016, 'December', inplace=True)
covid_mod
# covid['Year Code'].max()
# pd.unique(covid['Year Code'])

,Unnamed: 0,County,County Code,Month,Population,Infection,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval,Unnamed: 11
6,6,Autauga County,AL,January,NaN,49676,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Autauga County,AL,February,NaN,51328,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Autauga County,AL,March,NaN,52405,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Autauga County,AL,April,NaN,53277,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Autauga County,AL,May,NaN,54135,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
56641,56641,Weston County,WY,August,NaN,7065,NaN,NaN,NaN,NaN,NaN,NaN
56642,56642,Weston County,WY,September,NaN,7163,NaN,NaN,NaN,NaN,NaN,NaN
56643,56643,Weston County,WY,October,NaN,7179,NaN,NaN,NaN,NaN,NaN,NaN
56644,56644,Weston County,WY,November,NaN,7230,NaN,NaN,NaN,NaN,NaN,NaN
56645,56645,Weston County,WY,December,NaN,7236,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
covid_mod.to_csv("data\covid_infection_monthly.csv")

In [49]:
# MONTHS[11]
# for x in range (0,12):
#     print (x)

covid_mod.sort_values("Infection")

,Unnamed: 0,County,County Code,Month,Population,Infection,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Age Adjusted Rate,Age Adjusted Rate Lower 95% Confidence Interval,Age Adjusted Rate Upper 95% Confidence Interval
33882,Suffolk County,NY,36103,January,1477687,1.4,0.9,2.2,1.4,0.9,2.1
33486,Nassau County,NY,36059,January,1332318,1.4 (Unreliable),0.8,2.1,1.4 (Unreliable),0.9,2.3
47401,Hidalgo County,TX,48215,February,695352,1.6 (Unreliable),0.8,2.8,1.7 (Unreliable),0.8,3.0
32212,Monmouth County,NJ,34025,May,628669,1.7 (Unreliable),0.9,3.1,2.0 (Unreliable),1.0,3.5
38311,Warren County,OH,39165,February,200630,10.0,6.1,15.4,9.7,5.9,15.0
...,...,...,...,...,...,...,...,...,...,...,...
56641,Weston County,WY,56045,August,7065,NaN,NaN,NaN,NaN,NaN,NaN
56642,Weston County,WY,56045,September,7163,NaN,NaN,NaN,NaN,NaN,NaN
56643,Weston County,WY,56045,October,7179,NaN,NaN,NaN,NaN,NaN,NaN
56644,Weston County,WY,56045,November,7230,NaN,NaN,NaN,NaN,NaN,NaN
56645,Weston County,WY,56045,December,7236,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:

# APP_PATH = str(pathlib.Path(__file__).parent.resolve())

df_lat_lon = pd.read_csv("data/lat_lon_counties.csv")
df_lat_lon["FIPS "] = df_lat_lon["FIPS "].apply(lambda x: str(x).zfill(5))

df_full_data = pd.read_csv("data/age_adjusted_death_rate_no_quotes.csv")

df_full_data["County Code"] = df_full_data["County Code"].apply(
    lambda x: str(x).zfill(5)
)
df_full_data["County"] = (
    df_full_data["Unnamed: 0"] + ", " + df_full_data.County.map(str)
)
df_full_data.to_csv("data\covid_infection_monthly_formatted.csv")

In [63]:
fips = ['48005', '48161', '48185', '48225', '48289', '48313', '48347', '48373', '48403', '48405', '48407', '48455', '48471']
dff = df_full_data[df_full_data["County Code"].isin(fips)]

dff = dff[dff['Year'] > 2004]
dff.rename(columns={'Year':'Month'}, inplace=True)
dff['Month'].replace(2005, 'January', inplace=True)
dff['Month'].replace(2006, 'February', inplace=True)
dff['Month'].replace(2007, 'March', inplace=True)
dff['Month'].replace(2008, 'April', inplace=True)
dff['Month'].replace(2009, 'May', inplace=True)
dff['Month'].replace(2010, 'June', inplace=True)
dff['Month'].replace(2011, 'July', inplace=True)
dff['Month'].replace(2012, 'August', inplace=True)
dff['Month'].replace(2013, 'September', inplace=True)
dff['Month'].replace(2014, 'October', inplace=True)
dff['Month'].replace(2015, 'November', inplace=True)
dff['Month'].replace(2016, 'December', inplace=True)


dff = dff.sort_values("Month")
dff

TypeError: '<' not supported between instances of 'str' and 'int'